html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #ddd;
}

label{
    font-weight:bold;
}

.cycle-wrapper {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px 25px;
    margin: 10px;
    background: #fff;
}

.cycle-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.form-header > div {
    border-bottom: 1px solid #ccc;
}

.br-1 {
    border-right: 1px solid #ccc;
}

.form-title {
    font-weight: bold;
}

.popup-window {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.popup-wrapper {
    min-width: 800px;
    min-height: 500px;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    padding-top: 40px;
    position:relative;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 5px;
}

#AddRolePopup {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.role-popup-wrapper {
    position: absolute;
    background: #fff;
    border-radius: 25px;
    padding: 25px;
    padding-top: 50px;
}

.close-role-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor:pointer;
}

.portal-ag-grid {
    height: 500px;
    width: 100%;
    margin-top: 25px;
}

.answer-wrapper {
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.question-text, .application-title {
    font-weight: bold;
}

.sidebar{
    border-left: 1px solid #000;
}

.submit-button-wrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}